body{
    margin: 0;
    padding: 0;
}
.main{
  display: inline;
}
.navbar{
    background-color: white;
    color: black;
    font-size: 15px;
    position: fixed;
   
    font-family: 'Poppins', sans-serif;
    padding: 0px 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(134, 131, 131);
   
}
.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 10px;
    text-transform: uppercase;
    
    
}
.navbar ul li {
    padding: 7px;
}
.navbar ul li:hover {
    text-decoration: underline 1.5px;
    color: #66615D;
}


.container-1{
    background-color: #bcb8b8;
    display: flex;
    justify-content:space-between;
    padding: 5px;
}
.row-1{
justify-content: center;
align-items: center;
  padding: 100px;
  

    
}
.row-1 Button{
    background-color:#E47E15 ;
    color: white;
    padding: 16px 30px 16px 30px;
    text-decoration: none;
    border: none !important;
    font-size: medium !important;
   

}
.row-2 {
    display: flex;
    justify-content: right;
    align-items: center;
    
  }
  .row-2 img {
   width: 77%;
  
  }

.container-2{
    display: flex;
    flex-direction: column;
   
    background-color: #332E29;
    color: white !important;
    padding: 3%;
   
    margin-top: 3px;
}
.c2-c1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-2 ul li {  
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: small;

}
.container-2 ul{
   margin-left:2rem;
   margin-right:2rem;
    
   
}
hr{
    width: 90%;
}
.c2-c2{
    padding-left: 5%;
}
.container-3{
    background-color: #66615D;
    color: white;
}
.container-3 p{
    text-align: center;
    padding: 2%;
    margin-top: 3px;
}


    

    


    

